html {
  background-color: maroon;
}

body {
  width: 600px;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 500px;
  border-radius: 5px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img {
  margin-left: 100px;
}

h2 {
  color: maroon;
  font-family: "Maven Pro", sans-serif;
}

h3 {
  color: maroon;
  font-family: "Maven Pro", sans-serif;
}

h1 {
  color: #808000;
  font-family: "Maven Pro", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
}

div {
  border: 1px solid gray;
  background-color: rgb(235, 235, 235);
  padding-left: 30px;
  padding-right: 30px;
}

.GREEN {
  background-color: #808000;
  padding: 10px;
  font-size: larger;
  color: white;
  border-color: white;
  border: 1px solid;
}

.red {
  color: maroon;
  font-weight: bold;
}

.BOLD {
  font-weight: bold;
}

.CAL {
  border: solid black 1px;
  font-weight: bold;
}
